<div class="container text-light">
  <h2 class="display-4 mt-2">Welcome to the Dashboard, {{username}}!</h2>
</div>

<div class="container text-light">
    <div class="card w-100 dashboard-card">
        <div class="card-body">
            <section class="first-line mb-4 align-items-start">
                <h4>Get your ThisThat debate going!</h4>
                <a role="button" class="btn first-btn my-1" href="../">Get Started!</a>
            </section>
            <section class="next-line mt-5 align-items-start">
                <h4>Have a great idea for a ThisThat question?</h4>
                <a role="button" class="btn next-btn mt-1" href="../create">Create a ThisThat</a>
            </section>
        </div>
    </div>
    <section class="mt-5 align-items-start">
      <h3>Check out your ThisThat Choices!</h3>
      {{!-- <a role="button" class="btn action mt-1" href="../create">Create a ThisThat</a> --}}
    </section>
    
    {{#if userChoices}}
    <table class="table two-axis">
        <thead>
            <tr>
                <th>THIS</th>
                <th>THAT</th>
                <th class="choice">YOUR CHOICE</th>
            </tr>
        </thead>
        <tbody>
            
            {{#each userChoices as |answer|}}
            <tr>
                <td>{{answer.question.this_true}}</td>
                <td>{{answer.question.that_false}}</td>
                {{#if answer.choice}}
                <td>{{answer.question.this_true}}</td>
                {{else}}
                <td>{{answer.question.that_false}}</td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{else}}
    <h1>NOTHIGNSFLSJFHLKSJDFLSKJDFKJJSDFJKSDFJKLSDFjklf</h1>
    <section class="mt-5 align-items-start">
      <h3>Check out your ThisThat Choices!</h3>
      {{!-- <a role="button" class="btn action mt-1" href="../create">Create a ThisThat</a> --}}
    </section>

    {{/if}}

</div>

<script type="text/javascript" src="/javascript/basictable.min.js"></script>
<script type="text/javascript" src="/javascript/dashboard.js"></script>
